body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 20px;
  background-color: #0077c0;
  border-radius: 20px;
  max-width: 600px;
  margin: auto;
  margin-top: 250px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border: none;
  display: inline-block;
  margin: 5px 0 10px 0;
  border-radius: 8px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #c8cacd;
  outline: none;
}
hr {
  border: 1px solid #3d3c42;
  margin-bottom: 10px;
}
.registerBtn {
  border: none;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 80%;
  border-radius: 8px;
}
.loginBtn{
  background-color: #CFFDE1;
  color: rgb(0, 0, 0);
  border: none;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 105px;
  border-radius: 8px;
  
  
}
.registerBtn:disabled {
  background-color: #3d3c42;
  cursor: not-allowed;
}
.registerBtn:hover {
  opacity: 0.4;
}
