* {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
body{

    background: #fbfbfd;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.header-section {
    display: flex;
    height: 52px;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    /* background-color: rgb(43, 142, 217); */
  }
  .header-section-flex {
    display: flex;
    height: 44px;
    width: 100%;
  }
  .items {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
  }
  .header-section-flex a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .items button{
    width: 80px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    color: rgb(7, 97, 214);
    background-color: white;
    border-radius: 5px;

  }
  .container{
    padding: 20px;
  }

