body {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#myBtn {
  background-color: #0c8bfa;
  color: rgb(255, 255, 255);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin: 80px;
  border: 2px solid rgb(0, 0, 0);
}
.box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
