* {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
body {
  background: #ebebeb;
}
.container {
  margin: 150px auto;
}
.header-section-flex {
  display: flex;
  background: rgba(33, 33, 33, 0.8);
  height: 54px;
  width: 100%;
}
.header-section-flex .items {
  display: flex;
  gap: 40px;
  align-items: center;
  text-decoration: none;
  margin: 0;
}
.header-section-flex a {
  text-decoration: none;
  color: white;
}
.cartCount {
  background-color: red;
  gap: 30px;
}
